@media screen and (min-width: 700px) {
    
}
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Prompt', sans-serif;
}

.navlinks {
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;
    
}

li{
    padding: 16px;
    border-bottom: 1px solid black;
    list-style: none;
}    

li:hover {
    background-color: black;
    
}

.imagebanner {
    background-image: url("images/imagebanner.png");
    padding: 50px 0;
}

h2{
    text-align: center;
    color: white;
    background-color: black;
}

.introduction{
    text-align: center;
    color: gray;
    font-size: 1.5rem;
}

img {
    width: 150px;
    height: 150px;
}

.ourmerch {
    text-align: center;
    margin: 32px;
}

@media screen and (min-width: 700px) {
    ul {
        text-align: right
    }

    li{
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid black;
    }

    .merch {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
}